.container {
    background-color: #7a1920;
    max-width: 432px;
    padding: 30px 40px 30px 30px;
    border-radius: 20px;
}
.display {
    background-color: black;
    color: white;
    height: 4.2rem;
    margin: 10px 0px;
    padding: 25px 7px 0px 0px;
    border-radius: 50px;
    font-size: 2rem;
    text-align: right;
}
.App {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.buttons-container {
    width: 472px;
    display: grid;
    grid-template-columns: 75% 25%;
}
.specials {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.specials button {
    background-color: #29546f;
}
.numbers {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.numbers button {
    background-color: #124160;

}
.operators button {
    background-color: #286b7e;
}
.numbers>last-child {
    border: 1px solid orange;
}

button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px 5px;
    border: 1px solid black;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    box-shadow: 0px 2px black;
}

button:active {
    transform: scale(0.95);
}

.numbers>div:nth-of-type(10)>button {
    width: 200px;
    border-radius: 40px;
    /* padding: 0px 50px; */
}
.numbers>div:nth-of-type(11)>button {
    position: absolute;
    left: 265px;

}